<main> 
    <section class="bg-light mt-5">
        <div class="container">
            <div class="row">
                <section class="col-xl-8 col-lg-8">
                    <form [formGroup]="checkoutForm" (ngSubmit)="checkout()">
                        
                        <!-- ========================= CONFIRMATION ARTICLE ========================= -->
                        <article class="card mb-4">
                            <div class="content-body">
                                <div class="float-end">
                                    <button routerLink="/cart" class="btn btn-outline-primary">Go Back</button>
                                    <button class="btn btn-success ms-2" type="submit">Purchase Now</button>
                                </div>
                                <h5 class="card-title">Purchase Now!</h5>
                                <p class="mb-0">By pressing 'Purchase Now' you are affirming this transaction.</p>
                            </div>
                        </article>
                        <!-- ========================= CONFIRMATION ARTICLE END// ========================= -->

                        <!-- ========================= USERINFO & SHIPPING & PAYMENT FORM  ========================= -->
                        <article class="card">
                            <div class="content-body">
                                 <!-- === ERRORS  === -->
                                <div class="alert-message" [hidden]="!getCartItemsError">
                                    Fetching CartItems Failed! Try again later!
                                </div>
                                <div class="alert-message" [hidden]="!createOrderError">
                                    Create Order Failed! Try again later!
                                </div>
                                <div class="alert-message" [hidden]="!changeUserInfoError">
                                    Change UserInfo Failed! Try again later!
                                </div>
                                <div class="alert-message" [hidden]="!changePaymentError">
                                    Change Payment Failed! Try again later!
                                </div>
                                <!-- === ERRORS END// === -->
                                
                                <!-- === BILLING SECTION === -->
                                <h5 class="card-title">Billing Address</h5>
                                <!-- === ERRORS  === -->
                                <div class="alert-message" [hidden]="!getUserInfoError">
                                    Fetching User Information Failed! Try again later!
                                </div>
                                <!-- === ERRORS END// === -->
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label class="form-label">Full name*</label>
                                        <input type="text" class="form-control" formControlName="fullName" placeholder="John Doe" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                                        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                                            <div *ngIf="f.fullName.errors.required">Full name is required</div>
                                            <div *ngIf="f.fullName.errors.minlength">Card name must be at least 3 characters</div>
                                            <div *ngIf="f.fullName.errors.maxlength">Card name cannot be greater than 50 characters</div>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label class="form-label">Email*</label>
                                        <input type="text" class="form-control" formControlName="email" placeholder="example@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Invalid email format</div>
                                            <div *ngIf="f.email.errors.minlength">Card name must be at least 5 characters</div>
                                            <div *ngIf="f.email.errors.maxlength">Card name cannot be greater than 50 characters</div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="form-label">Address*</label>
                                        <input type="text" class="form-control" formControlName="address" placeholder="One Lomb Memorial Drive" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                            <div *ngIf="f.address.errors.minlength">Card name must be at least 3 characters</div>
                                            <div *ngIf="f.address.errors.maxlength">Card name cannot be greater than 100 characters</div>
                                        </div>
                                    </div>
                                    <div class="col-5 mb-3">
                                        <label class="form-label">City*</label>
                                        <input type="text" class="form-control" formControlName="city" placeholder="Rochester" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                            <div *ngIf="f.city.errors.required">City is required</div>
                                            <div *ngIf="f.city.errors.minlength">City must be at least 2 characters</div>
                                            <div *ngIf="f.city.errors.maxlength">City cannot be greater than 40 characters</div>
                                        </div>
                                    </div>
                                    <div class="col-3 mb-3">
                                        <label for="" class="form-label">State*</label>
                                        <select class="form-select" formControlName="state" aria-label="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                            <option selected disabled hidden>Choose here</option>
                                            <option value="AL">AL</option>
                                            <option value="AK">AK</option>
                                            <option value="AZ">AZ</option>
                                            <option value="AR">AR</option>
                                            <option value="CA">CA</option>
                                            <option value="CO">CO</option>
                                            <option value="CT">CT</option>
                                            <option value="DE">DE</option>
                                            <option value="FL">FL</option>
                                            <option value="GA">GA</option>
                                            <option value="HI">HI</option>
                                            <option value="ID">ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN">IN</option>
                                            <option value="IA">IA</option>
                                            <option value="KS">KS</option>
                                            <option value="KY">KY</option>
                                            <option value="LA">LA</option>
                                            <option value="ME">ME</option>
                                            <option value="MD">MD</option>
                                            <option value="MA">MA</option>
                                            <option value="MI">MI</option>
                                            <option value="MN">MN</option>
                                            <option value="MS">MS</option>
                                            <option value="MO">MO</option>
                                            <option value="MT">MT</option>
                                            <option value="NE">NE</option>
                                            <option value="NV">NV</option>
                                            <option value="NH">NH</option>
                                            <option value="NJ">NJ</option>
                                            <option value="NM">NM</option>
                                            <option value="NY">NY</option>
                                            <option value="NC">NC</option>
                                            <option value="ND">ND</option>
                                            <option value="OH">OH</option>
                                            <option value="OK">OK</option>
                                            <option value="OR">OR</option>
                                            <option value="PA">PA</option>
                                            <option value="RI">RI</option>
                                            <option value="SC">SC</option>
                                            <option value="SD">SD</option>
                                            <option value="TN">TN</option>
                                            <option value="TX">TX</option>
                                            <option value="UT">UT</option>
                                            <option value="VT">VT</option>
                                            <option value="VA">VA</option>
                                            <option value="WA">WA</option>
                                            <option value="WV">WV</option>
                                            <option value="WI">WI</option>
                                            <option value="WY">WY</option>
                                        </select>
                                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                            <div *ngIf="f.state.errors.required">State is required</div>
                                        </div>
                                    </div>
                                    <div class="col-3 mb-3">
                                        <label class="form-label">ZIP*</label>
                                        <input type="text" class="form-control" formControlName="zip" placeholder="14623" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
                                        <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                                            <div *ngIf="f.zip.errors.required">ZIP is required</div>
                                            <div *ngIf="f.zip.errors.pattern">ZIP should be numeric</div>
                                            <div *ngIf="f.zip.errors.minlength">ZIP must be at least 2 characters</div>
                                            <div *ngIf="f.zip.errors.maxlength">ZIP cannot be greater than 20 characters</div>
                                        </div>
                                    </div>

                                    <!-- <label class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label"> Save this address </span>
                                    </label> -->
                                    
                                </div>
                                <!-- === BILLING SECTION END// === -->

                                <hr class="my-4">
                                
                                <!-- === SHIPPING SECTION === -->
                                <h5 class="card-title">Shipping info</h5> 
                                <div class="row mb-3">
                                    <div class="col-lg-4 mb-3">
                                        <div class="box box-check">
                                            <label class="form-check">
                                                <input class="form-check-input" type="radio" name="dostavka" checked>
                                                <b class="border-oncheck"></b>
                                                <span class="form-check-label">
                                                    Free delivery  <br>
                                                    <small class="text-muted">7-14 days via Fedex </small>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 mb-3">
                                        <div class="box box-check">
                                            <label class="form-check">
                                                <input class="form-check-input" type="radio" name="dostavka">
                                                <b class="border-oncheck"></b>
                                                <span class="form-check-label">
                                                    Post office <br>
                                                    <small class="text-muted">20-30 days via post</small>
                                                </span>
                                            </label>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-lg-4 mb-3">
                                        <div class="box box-check">
                                            <label class="form-check">
                                                <input class="form-check-input" type="radio" name="dostavka">
                                                <b class="border-oncheck"></b>
                                                <span class="form-check-label">
                                                    Self pick-up  <br>
                                                    <small class="text-muted"> Come to our shop </small>
                                                </span>
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- === SHIPPING SECTION END// === -->

                                <hr class="my-4">

                                <!-- === PAYMENT SECTION === -->
                                <h5 class="card-title">Payment</h5> 
                                <div class="alert-message" [hidden]="!getPaymentError">
                                    Fetching Payments Failed! Try again later!
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label for="" class="form-label">Name on card*</label>
                                        <input type="text" class="form-control" formControlName="cardName" placeholder="John Doe" [ngClass]="{ 'is-invalid': submitted && f.cardName.errors }">
                                        <div *ngIf="submitted && f.cardName.errors" class="invalid-feedback">
                                            <div *ngIf="f.cardName.errors.required">Card name is required</div>
                                            <div *ngIf="f.cardName.errors.minlength">Card name must be at least 2 characters</div>
                                            <div *ngIf="f.cardName.errors.maxlength">Card name cannot be greater than 50 characters</div>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6 mb-3">
                                        <label for="" class="form-label">Credit card number*</label>
                                        <input type="text" class="form-control" formControlName="cardNumber" placeholder="4775121759083933" [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }">
                                        <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.cardNumber.errors.required">Card number is required</div>
                                            <div *ngIf="f.cardNumber.errors.minlength">Card number must be at least 14 characters</div>
                                            <div *ngIf="f.cardNumber.errors.maxlength">Card number cannot be greater than 19 characters</div>
                                            <div *ngIf="f.cardNumber.errors.pattern">Card number should be numeric</div>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-2 mb-3">
                                        <label for="" class="form-label">Expiration*</label>
                                        <input type="text" class="form-control" formControlName="expiration" placeholder="06/33" [ngClass]="{ 'is-invalid': submitted && f.expiration.errors }">
                                        <div *ngIf="submitted && f.expiration.errors" class="invalid-feedback">
                                            <div *ngIf="f.expiration.errors.required">Expiration Date is required</div>
                                            <div *ngIf="f.expiration.errors.pattern">Format: MM/YY</div>
                                        </div>
                                    </div>
                
                                    <div class="col-sm-2 mb-3">
                                        <label for="" class="form-label">CVV*</label>
                                        <input type="text" class="form-control w-75" formControlName="cvv" placeholder="123" [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }">
                                        <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
                                            <div *ngIf="f.cvv.errors.required">CVV is required</div>
                                            <div *ngIf="f.cvv.errors.minlength">CVV must be 3 characters</div>
                                            <div *ngIf="f.cvv.errors.maxlength">CVV must be 3 characters</div>
                                            <div *ngIf="f.cvv.errors.pattern">CVV should be numeric</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- === PAYMENT SECTION END// === -->
        
                                <!-- <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Save this address </span>
                                </label> -->
                            </div>
                        </article>
                        <!-- ========================= USERINFO & SHIPPING & PAYMENT FORM END//  ========================= -->
                    </form>
                    <br />
                    <br />
                </section>
                
                <!-- ========================= SUMMARY ASIDE ========================= -->
                <aside class="col-xl-4 col-lg-4">
                    <article class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
                        
                        <!-- === PRICE SECTION === -->
                        <h6 class="card-title">Summary</h6>
                        
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-end"> ${{(total + (total * .10)).toFixed(2)}}</dd>
                        </dl>
                        <!-- <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-end text-danger"> - $60.00 </dd>
                        </dl> -->
                        <dl class="dlist-align">
                            <dt>Shipping cost:</dt>
                            <dd class="text-end"> + $0.00 </dd>
                        </dl>
                        <hr>
                        <dl class="dlist-align">
                            <dt> Total: </dt>
                            <dd class="text-end"> <strong class="price-bold">${{(total + (total * .10)).toFixed(2)}}</strong> </dd>
                        </dl>
                        <!-- === PRICE SECTION END// === -->
                
                        <hr>

                        <!-- === SHOPPING CART SECTION === -->
                        <h6 class="price-bold mb-4">Items in cart</h6>
                
                        <figure class="itemside align-items-center mb-4" *ngFor="let cartItem of cartItems">
                            <div class="aside">
                                <b class="badge bg-secondary rounded-pill">{{cartItem.quantity}}</b>
                                <img src={{cartItem.product.getFirstImage()}} class="img-sm rounded border">
                            </div>
                            <figcaption class="info">
                                <a routerLink="/shop/{{cartItem.product.id}}" class="title">
                                    {{cartItem.product.name}} 
                                    <br>
                                    {{cartItem.product.brand}}
                                </a>
                                <div class="price text-muted">Total: ${{(cartItem.product.price * cartItem.quantity).toFixed(2)}}</div>
                            </figcaption>
                        </figure>
                        <!-- === SHOPPING CART SECTION END// === -->

                    </article> 
                </aside>
                <!-- ========================= SUMMARY ASIDE END//  ========================= -->
            </div>    
        </div>
    </section>
</main>