p {
    color: #333333;
    font-family: "RobotoSlab-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    margin-top: 0.4em;
}
.title-p {
    font-family: SemiExtended;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
}
.card-img-top {
    max-height: 50%;
    max-width: 70%;
    align-self: center;
}
.h-97 {
    height: 97% !important;
}
