/* ====FILTER GROUP==== */
/*==HEADER==*/
@media (min-width: 768px) { 
    .sticky-md-top {
        top: 5rem !important;
    }
}
.card-header {
    background-color: white;
}
header > a {
    text-decoration: none;
    color: rgb(25, 102, 204);
    text-shadow: 0.75px 0 rgb(25, 102, 204);
    letter-spacing:0.25px;
    font-weight:bolder;
}
.filter-group {
    border-bottom: 1px solid #e4e4e4;
}
.filter-group .card-header {
border-bottom: 0;
}
.filter-group:last-child {
border-bottom: 0;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row > .col,
.form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.card-header .title {
    margin-bottom: 0;
    line-height: 1.5;
}

/* ==Filter FA== */
.fa-filter {
    font-weight: 900;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-top: 5px;
    float: right;
    font-size: 80%;
}
/* ==Search Button== */
#filter_search {
    border: 1px solid #ced4da;
}

/* ==Checkboxes== */
.badge-light {
    color: #212529;
    background-color: #e4e4e4;
}

/* ====PRODUCT SECTION==== */
.card-product-grid {
    box-shadow: 0 1px 2px rgba(51, 51, 51, .07);
    margin-bottom: 1.5rem;
}
.cart-btn {
    background:#e6a247;
    border: none;
    border-radius: 0.2em;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-around;
    outline: none;
    padding: 0.rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.4s ease;
    width: auto;
    box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
}
.cart-btn:hover {
    box-shadow: 0 0 0 0.2rem rgba(252, 186, 3, 0.45);
}
.card-title > a{
    font-weight: 600;
    text-decoration: none;
}



