<main>
  <app-submenu [activePage]="'Transactions'" [firstPage]="'Home'" [firstPage_URL]="'/'" [secondPage]="'Transactions'"></app-submenu>
  
  <!-- === ERRORS  === -->
  <div class="alert-message mb-5" [hidden]="!getOrdersError">
    Order retrieval failed
  </div>
  <div class="text-muted mb-5" [hidden]="!getOrdersEmpty">
    No previous orders
  </div>
  <!-- === ERRORS END// === -->

  <table mat-table [dataSource]="dataSource" class="elements-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Order ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Order Date Column -->
    <ng-container matColumnDef="purchase_date">
      <th mat-header-cell *matHeaderCellDef> Purchase Date </th>
      <td mat-cell *matCellDef="let element"> {{element.purchase_date}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Card # Column -->
    <ng-container matColumnDef="card_number">
      <th mat-header-cell *matHeaderCellDef> Card Number </th>
      <td mat-cell *matCellDef="let element"> {{element.card_number}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
    </ng-container>

    <!-- items Column -->
    <ng-container matColumnDef="orderItems">
      <th mat-header-cell *matHeaderCellDef> order Items </th>
      <td mat-cell *matCellDef="let element"> {{element.orderItems}} </td>
    </ng-container>
 
    <!-- true items Column -->
    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef> Items </th>
      <td mat-cell *matCellDef="let element"> 
        <table mat-table [dataSource]="dataSource2" class="elements-table mat-elevation-z8">
          <!-- ID Column -->
          <ng-container matColumnDef="itemOrderId">
            <th mat-header-cell *matHeaderCellDef> Product ID </th>
            <td mat-cell *matCellDef="let element"> {{element.itemId}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef> Product Name</th>
            <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
          </ng-container>
          <!-- Price Column -->
            <ng-container matColumnDef="itemPrice">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.itemPrice}} </td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table> 
      </td>
    </ng-container>

    <!-- Review Button -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> Review </th>
      <td mat-cell *matCellDef="let roew"> 
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
          Write a review!
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  


  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
    Write a review
  </button>

  <!-- Modal with validation -->
  <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModal2Label">Write a review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="product" class="form-label">Product ID</label>
              <input 
                type="number" 
                formControlName="product" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f['product'].errors }"  
                id="product">
              <div *ngIf="submitted && f['product'].errors" class="invalid-feedback">
                <div *ngIf="f['product'].errors['required']">Product must be specified.</div>
                <div *ngIf="f['product'].errors['min']">Enter a number between 1-5.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating</label>
              <input type="number" formControlName="rating" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['rating'].errors }"  id="rating">
              <div *ngIf="submitted && f['rating'].errors" class="invalid-feedback">
                <div *ngIf="f['rating'].errors['required']">Enter a number between 1-5.</div>
                <div *ngIf="f['rating'].errors['min']">Enter a number between 1-5.</div>
                <div *ngIf="f['rating'].errors['max']">Enter a number between 1-5.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Review Title</label>
              <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['title'].errors}"  id="title">
              <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                <div *ngIf="f['title']errors['required']">Enter a review title.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="product" class="form-label">Review</label>
              <input type="text" formControlName="review" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['review'].errors}"  id="review">
              <div *ngIf="submitted && f['review'].errors" class="invalid-feedback">
                <div *ngIf="f['review'].errors['required']">Enter a review.</div>
              </div>
            </div>
           <button type="submit" class="btn btn-primary">Finish</button>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</main>
