<main>
    <app-submenu [activePage]="product.name" [secondPage]="'Our Shop'" [secondPage_URL]="'/shop'" [thirdPage]="product.name"></app-submenu>
    <div class="container">
        <div class="row">
            <!-- ========================= RADIO BTN IMAGE ASIDE ========================= -->
            <aside class="col-lg-2 order-md-3 order-3 text-center">
                <div class="btn-group-vertical">
                    <label class="aside-btn">
                        <input name="selected-image" class="aside-radio" type="radio" value={{imageUrl1}} [(ngModel)]="primaryImageUrl" checked>
                        <img [attr.src]="imageUrl1 ? imageUrl1 : 'assets/images/defaultproduct.png'" 
                            height="125" width="125"  alt="Product Image 1" autocomplete="off">
                    </label>
                    <label class="aside-btn">
                        <input name="selected-image" class="aside-radio" type="radio" value={{imageUrl2}} [(ngModel)]="primaryImageUrl">
                        <img [attr.src]="imageUrl2 ? imageUrl2 : 'assets/images/defaultproduct.png'" 
                            height="125" width="125"  alt="Product Image 2" autocomplete="off">
                    </label>
                    <label class="aside-btn">
                        <input name="selected-image" class="aside-radio" type="radio" value={{imageUrl3}} [(ngModel)]="primaryImageUrl">
                        <img [attr.src]="imageUrl3 ? imageUrl3 : 'assets/images/defaultproduct.png'" 
                            height="125" width="125"  alt="Product Image 3" autocomplete="off">
                    </label>
                </div>
            </aside>
            <!-- ========================= RADIO BTN IMAGE END// ========================= -->

            <!-- ========================= PRIMARY IMAGE ASIDE ========================= -->
            <aside class="col-lg-4 order-md-1 order-1 text-center">
                <img src={{primaryImageUrl}} height="400" width="100%">
            </aside>
            <!-- ========================= PRIMARY IMAGE ASIDE END// ========================= -->

            <!-- ========================= MAIN CONTENT SECTION ========================= -->
            <section class="col-lg-6 order-md-2 order-2">
                <!-- === PRODUCT INFO === -->
                <h4 class="text-dark">{{product.name}}</h4>
                <div class="mb-3">
                    <span class="badge" [ngClass]="product.setBadgeClass()">
                        <fa-icon [icon]="faStar"></fa-icon> {{product.averageReviewGrade ? product.averageReviewGrade : 'No Rating'}}
                    </span>
                    <i class="dot"></i>
                    <span *ngIf="product.price > 0" class="label-rating text-success">In Stock</span>
                    <span *ngIf="product.price == 0" class="label-rating text-danger">Out of Stock</span>
                </div>
                
                <div class="mb-3"> 
                    <var class="price h5">${{product.price.toFixed(2)}}</var> 
                    <span class="text-muted">/per candle</span> 
                </div> 

                <p>{{product.description}}</p>
                
                <dl class="row">
                    <dt class="col-3">Brand:</dt>
                    <dd class="col-9">{{product.brand}}</dd>
                
                    <dt class="col-3">Tags:</dt>
                    <dd class="col-9">{{product.tagNames.join(', ')}}</dd>
                </dl>
                <!-- === PRODUCT INFO END// === -->
                <hr>
                <!-- === PRODUCT BUTTONS === -->
                <div *ngIf="currentUser" class="row mb-4">
                    <div class="col-md-4 col-6">
                        <label class="btn-label form-label d-block">Quantity:</label>
                        <div class="input-group">
                            <button [attr.disabled]="quantity <= 1 ? '' : null" (click)="subQuantity()" class="btn btn-icon btn-light" type="button"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                                    <path d="M19 13H5v-2h14v2z"></path>
                                </svg>
                            </button>
                            <input class="form-control text-center" value="" [(ngModel)]="quantity">
                            <button (click)="addQuantity()" class="btn btn-icon btn-light" type="button"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8 col-6">
                        <label class="btn-label form-label d-block">Stock:</label>
                        <button (click)="getStock()" class="btn btn-warning">
                            Check Stock
                        </button>
                        <span *ngIf="showStock" class="text-success">
                            Current Stock: {{product.stock}}
                        </span>
                    </div>
                    <span class="mt-4">
                        <button (click)="addToCart()" class="btn btn-primary me-1" 
                            [ngClass]="{'cart-success': showCartMessage == true && !toCartMessage, 'cart-fail': showCartMessage == true && toCartMessage}"> 
                            <fa-icon [icon]="faShoppingBasket"></fa-icon> Add to cart 
                        </button>
                        <span *ngIf="showCartMessage">
                            <span *ngIf="!toCartMessage" class="text-success">Added to Cart!</span>
                            <span *ngIf="toCartMessage" class="text-danger">{{toCartMessage}}</span>
                        </span>
                    </span>
                </div>
                <p *ngIf="!currentUser">
                    <a routerLink="/login">Login</a> to make purchases!
                </p>
            </section>
        </div>
        <!-- ========================= MAIN CONTENT SECTION END// ========================= -->

        <!-- ========================= PRODUCT REVIEWS SECTION ========================= -->
        <section id="product-reviews" class="mt-4">
            <div id="review-section-header">
                <div class="review-section-title">
                    <h3>Customer Reviews</h3>
                    <hr class="section-title-hr"/>
                </div>
                <h4 class="text-dark mb-1">Customer Reviews</h4>
                <ngb-rating class="main-rating" [max]="5" [(rate)]="product.averageReviewGrade" [readonly]="true"></ngb-rating>
                <span class="ms-1">Based on {{product.productReviews.length}} reviews</span>
            </div>
            <div id="review-section-body" class="mt-5">
                <div class="user-review" *ngFor="let review of product.productReviews">
                    <div id="review-header">
                        <ngb-rating class="child-rating" [max]="5" [(rate)]="review.grade" [readonly]="true"></ngb-rating>
                        <h3 class="review-title">{{review.title}}</h3>
                        <span class="review-author">by <strong>{{review.username}} | </strong></span>
                        <span class="review-date ms-1"><strong>{{review.review_date}}</strong></span>
                    </div>
                    <div id="review-body" class="mb-5">
                        <p class="review-content">{{review.comment}}</p>
                    </div>
                    <div id="review-footer">
                        <!-- FUTURE USE -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================= PRODUCT REVIEWS SECTION END// ========================= -->

    </div>
</main>