/* ====TRIPLE LEFT ASIDE GROUP==== */
.aside-btn {
    border: 0;
    background: transparent;
    text-align: center;
    margin-top: 1em;
}
.aside-radio { 
    opacity: 0;
    width: 0;
    height: 0;
}
.aside-radio + img {
    cursor: pointer;
}
.aside-radio:checked + img {
    outline: solid;
}

/* ==== DOT GROUP==== */
.dot {
    font-style: normal;
    opacity: .5;
}
.dot::after {
    content: "•";
    display: inline-block;
}

/* ==== PRODUCT BUTTONS GROUP==== */
.btn-label {
    color: #51585e;
}
.btn-light {
    background-color: #fff;
    border-color: #dee2e6;
    color: #212529;
}