<main>
    <app-submenu [activePage]="'Admin Product Panel'" [firstPage]="'Admin'" [firstPage_URL]="'/admin'"[secondPage]="'Admin Product Panel'"></app-submenu>
    <section class="bg-light mt-5">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a href="#" data-bs-target="#tab_products" data-bs-toggle="tab" class="nav-link active">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" data-bs-target="#tab_addProducts" data-bs-toggle="tab" class="nav-link">Add Product</a>
                        </li>
                    </ul>
                </div>
                    <div class="tab-content">
                        <article id="tab_products" class="tab-pane show active card-body">
                            <p>With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <ul>
                                <li>Some great feature name here </li>
                                <li>Lorem ipsum dolor sit amet, consectetur </li>
                                <li>Duis aute irure dolor in reprehenderit </li>
                                <li>Optical heart sensor </li>
                                <li>Easy fast and ver good </li>
                                <li>Some great feature name here </li>
                                <li>Modern style and design</li>
                            </ul>
                            <table class="table border table-hover">
                                <tr>
                                    <th>  Display: </th> <td> 13.3-inch LED-backlit display with IPS </td>
                                </tr>
                                <tr>
                                    <th>  Processor capacity: </th> <td> 2.3GHz dual-core Intel Core i5 </td>
                                </tr>
                                <tr>
                                    <th>  Camera quality: </th> <td>720p FaceTime HD camera  </td>
                                </tr>
                                <tr>
                                    <th>  Memory </th> <td> 8 GB RAM or 16 GB RAM </td>
                                </tr>
                                <tr>
                                    <th>  Graphics </th> <td> Intel Iris Plus Graphics 640 </td>
                                </tr>
                            </table>
                        </article>
                        <article id="tab_addProducts" class="tab-pane card-body">
                            Tab content or sample information now <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>