<main>
  <div class="container-fluid px-lg-4 px-xl-5 contentDiv">
    <div class="row">

      <!-- ========================= PROFILE ASIDE ========================= -->
      <aside class="col-lg-4">
        <!-- === TOP INFO === -->
        <div class="card card-profile mb-4">
          <div class="card-header profile-img-back"> </div>
          <div class="card-body text-center"><img class="card-profile-img" 
            [attr.src]="currentUser.picture !== null ? currentUser.picture : 'assets/images/defaultprofiledark.png'" alt="PFP">
            <h3 class="mb-2">{{currentUser.username}}</h3>
            <p class="mb-4">{{currentUser.authority}}</p>
          </div>
        </div>
        <!-- === TOP INFO END// === -->

        <!-- =================== NAME & PFP =================== -->
        <!-- === VIEW NAME & PFP === -->
        <div *ngIf="!picFormDisplay" class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0"><img class="avatar avatar-lg p-1" [attr.src]="currentUser.picture !== null ? currentUser.picture : 'assets/images/defaultprofiledark.png'" alt="PFP"></div>
              <div class="flex-grow-1 ps-3">
                <h4 [ngClass]="{ 'alert-color': !displayUserInfo.name }">{{displayUserInfo.name ? displayUserInfo.name : 'No Name'}}</h4>
                <p class="text-muted mb-0">{{currentUser.username}}</p>
                <span class="float-end">
                  <button (click)="picFormDisplay = true;" class="btn btn-primary">Edit</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- === VIEW NAME & PFP END// === -->

        <!-- === EDIT NAME & PFP === -->
        <form *ngIf="picFormDisplay" [formGroup]="picForm" (ngSubmit)="picSubmit()" class="card mb-4">
          <div class="card-body">
            <!-- === ERRORS === -->
            <div class="alert-message mb-3" [hidden]="!changeNameError">
              Change Name Failed! Try again later!
            </div>
            <div class="alert-message mb-3" [hidden]="!uploadImageError">
              Upload Image Failed! Try again later!
            </div>
            <div class="alert-message mb-3" [hidden]="!uploadTypeError">
              Image Type Wrong!
            </div>
            <!-- === ERRORS END// === -->
            <div class="d-flex align-items-center">
              <div id="image-upload" class="flex-shrink-0">
                <label id="avatar-label" for="file-input">
                  <img *ngIf="!tempPFP" class="avatar avatar-lg p-1" [attr.src]="currentUser.picture !== null ? currentUser.picture : 'assets/images/defaultprofiledark.png'" alt="PFP">
                  <img *ngIf="tempPFP" class="avatar avatar-lg p-1" [attr.src]="tempPFP" alt="PFP">
                </label>
                <img class="plus-upload" src="assets/images/plus.png" alt="plus">
                <input id="file-input" type="file" (change)="uploadImage($event)" name="image" />
              </div>
              <div class="flex-grow-1 ps-3">
                <!-- Full Name -->
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" formControlName="fullName" placeholder="John Doe" [ngClass]="{ 'is-invalid': picSubmitted && fPic.fullName.errors }">
                <div *ngIf="picSubmitted && fPic.fullName.errors" class="invalid-feedback">
                    <div *ngIf="fPic.fullName.errors.minlength">Full name must be at least 3 characters</div>
                    <div *ngIf="fPic.fullName.errors.maxlength">Full name cannot be greater than 50 characters</div>
                </div>
                <!-- Full Name END// -->

                <p class="text-muted mb-0">&nbsp;</p>
                <span class="float-end">
                  <button type="button" (click)="picFormDisplay = false; tempPFP = null;" class="btn btn-dark">Cancel</button>
                  <button class="btn btn-success ms-2" type="submit">Save</button>
                </span>
              </div>
            </div>
          </div>
        </form>
        <!-- === EDIT NAME & PFP END// === -->
        <!-- =================== NAME & PFP END// =================== -->

        <!-- =================== PASSWORD =================== -->
        <!-- === VIEW PASSWORD === -->
        <div *ngIf="!passFormDisplay" class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Password</h5>

              <div class="float-end">
                  <button (click)="passFormDisplay = true;" class="btn btn-primary">Change Password</button>
              </div>
              <p class="mb-0">Don't like your password?</p>
          </div>
        </div>
        <!-- === VIEW PASSWORD === -->

        <!-- === CHANGE PASSWORD === -->
        <form *ngIf="passFormDisplay" [formGroup]="passForm" (ngSubmit)="passSubmit()" class="card mb-4">
          <div class="card-header ps-3">
            <h5 class="card-heading">Change Password</h5>
          </div>
          <div class="card-body">
            <!-- === ERRORS === -->
            <div class="alert-message mb-3" [hidden]="!changePasswordError">
              Updating User Info Failed! Try again later!
            </div>
            <!-- === ERRORS END// === -->
            <div class="mb-3"> 
              <label class="form-label">New Password</label>
              <input type="password" class="form-control" formControlName="newPassword" placeholder="Password" [ngClass]="{ 'is-invalid': passSubmitted && fPass.newPassword.errors }">
              <div *ngIf="passSubmitted && fPass.newPassword.errors" class="invalid-feedback">
                <div *ngIf="fPass.newPassword.errors.required">Password is required</div>
                <div *ngIf="fPass.newPassword.errors.minlength">Password must be at least 8 characters</div>
                <div *ngIf="fPass.newPassword.errors.maxlength">Password cannot be greater than 35 characters</div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="button" (click)="passFormDisplay = false;" class="btn btn-dark">Cancel</button>
            <button class="btn btn-success ms-2" type="submit">Save</button>
          </div>
        </form>
        <!-- === CHANGE PASSWORD END// === -->
        <!-- =================== PASSWORD END// =================== -->

      </aside>
      <!-- ========================= PROFILE ASIDE END// ========================= -->

      <!-- ========================= MAIN SECTION ========================= -->
      <section class="col-lg-8">

        <!-- =================== USERINFO =================== -->
        <!-- === VIEW USERINFO === -->
        <div *ngIf="!infoFormDisplay" class="card mb-4">
          <div class="card-header ps-3">
            <h5 class="card-heading">
              User Info
              <span *ngIf="userInfoNone" class="text-danger fs-6">New? Edit your information</span>
              <div *ngIf="userInfoNone" class="text-end">
                <button (click)="infoFormDisplay = true;" class="btn btn-primary" type="submit">Edit</button>
              </div>
            </h5>
          </div>
          <div *ngIf="!userInfoNone" class="card-body">
            <!-- === ERRORS === -->
            <div class="alert-message mb-3" [hidden]="!getUserInfoError">
              Fetching User Info Failed! Try again later!
            </div>
            <dl class="dlist-align">
              <dt>Email: </dt>
              <dd *ngIf="displayUserInfo.email" class="text-muted">{{displayUserInfo.email}}</dd>
              <dd *ngIf="!displayUserInfo.email" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3">
              <dt>Phone: </dt>
              <dd *ngIf="displayUserInfo.phone" class="text-muted">{{displayUserInfo.phone}}</dd>
              <dd *ngIf="!displayUserInfo.phone" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3">
              <dt>Address: </dt>
              <dd *ngIf="displayUserInfo.address" class="text-muted">{{displayUserInfo.address}}</dd>
              <dd *ngIf="!displayUserInfo.address" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3">
              <dt>City: </dt>
              <dd *ngIf="displayUserInfo.city" class="text-muted">{{displayUserInfo.city}}</dd>
              <dd *ngIf="!displayUserInfo.city" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3">
              <dt>State: </dt>
              <dd *ngIf="displayUserInfo.state" class="text-muted">{{displayUserInfo.state}}</dd>
              <dd *ngIf="!displayUserInfo.state" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3 mb-3">
              <dt>ZIP: </dt>
              <dd *ngIf="displayUserInfo.zip" class="text-muted">{{displayUserInfo.zip}}</dd>
              <dd *ngIf="!displayUserInfo.zip" class="text-danger">Empty</dd>
            </dl>
          </div>
          <div *ngIf="!userInfoNone" class="card-footer text-end">
            <button (click)="infoFormDisplay = true;" class="btn btn-primary" type="submit">Edit</button>
          </div>
        </div>
        <!-- === VIEW USERINFO //END === -->

        <!-- === EDIT USERINFO === -->
        <form *ngIf="infoFormDisplay" [formGroup]="infoForm" (ngSubmit)="infoSubmit()" class="card mb-4">
          <div class="card-header ps-3">
            <h5 class="card-heading">Edit User Info</h5>
          </div>
          <div class="card-body">
            <!-- === ERRORS === -->
            <div class="alert-message mb-3" [hidden]="!changeUserInfoError">
              Updating User Info Failed! Try again later!
            </div>
            <!-- === ERRORS END// === -->
            <div class="row">
              <div class="col-sm-6 col-md-5">
                <div class="mb-4">
                  <label class="form-label">Email address</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="example@gmail.com" [ngClass]="{ 'is-invalid': infoSubmitted && fInfo.email.errors }">
                  <div *ngIf="infoSubmitted && fInfo.email.errors" class="invalid-feedback">
                    <div *ngIf="fInfo.email.errors.email">Invalid email format</div>
                    <div *ngIf="fInfo.email.errors.minlength">Email must be at least 5 characters</div>
                    <div *ngIf="fInfo.email.errors.maxlength">Email cannot be greater than 50 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="mb-4">
                  <label class="form-label">Phone number</label>
                  <input type="text" class="form-control" formControlName="phone" placeholder="###-###-####" [ngClass]="{ 'is-invalid': infoSubmitted && fInfo.phone.errors }">
                <div *ngIf="infoSubmitted && fInfo.phone.errors" class="invalid-feedback">
                    <div *ngIf="fInfo.phone.errors.minlength">Phone number must be at least 10 characters</div>
                    <div *ngIf="fInfo.phone.errors.maxlength">Phone number cannot be greater than 15 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="mb-4">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="One Lomb Memorial Drive" [ngClass]="{ 'is-invalid': infoSubmitted && fInfo.address.errors }">
                  <div *ngIf="infoSubmitted && fInfo.address.errors" class="invalid-feedback">
                    <div *ngIf="fInfo.address.errors.minlength">Address must be at least 3 characters</div>
                    <div *ngIf="fInfo.address.errors.maxlength">Address cannot be greater than 100 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="mb-4">
                  <label class="form-label">City</label>
                  <input type="text" class="form-control" formControlName="city" placeholder="Rochester" [ngClass]="{ 'is-invalid': infoSubmitted && fInfo.city.errors }">
                  <div *ngIf="infoSubmitted && fInfo.city.errors" class="invalid-feedback">
                    <div *ngIf="fInfo.city.errors.minlength">City must be at least 2 characters</div>
                    <div *ngIf="fInfo.city.errors.maxlength">City cannot be greater than 40 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <div class="mb-4">
                  <label class="form-label">State</label>
                  <select class="form-control" formControlName="state" aria-label="state" [ngClass]="{ 'is-invalid': infoSubmitted && fInfo.state.errors }">
                    <option selected disabled hidden>State</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                  </select>
                  <div *ngIf="infoSubmitted && fInfo.state.errors" class="invalid-feedback">
                    <!-- <div *ngIf="fInfo.state.errors.required">State is required</div> -->
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="mb-4">
                  <label class="form-label">ZIP</label>
                  <input type="text" class="form-control" formControlName="zip" placeholder="14623" [ngClass]="{ 'is-invalid': infoSubmitted && fInfo.zip.errors }">
                  <div *ngIf="infoSubmitted && fInfo.zip.errors" class="invalid-feedback">
                    <div *ngIf="fInfo.zip.errors.pattern">ZIP should be numeric</div>
                    <div *ngIf="fInfo.zip.errors.minlength">ZIP must be at least 2 characters</div>
                    <div *ngIf="fInfo.zip.errors.maxlength">ZIP cannot be greater than 20 characters</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer text-end">
            <button type="button" (click)="infoFormDisplay = false;" class="btn btn-dark">Cancel</button>
            <button class="btn btn-success ms-2" type="submit">Save</button>
          </div>
        </form>
        <!-- === EDIT USERINFO END// === -->

        <!-- =================== PAYMENT =================== -->
        <!-- === VIEW PAYMENT === -->
        <div *ngIf="!payFormDisplay" class="card mb-4">
          <div class="card-header ps-3">
            <h5 class="card-heading">
              Payment
              <span *ngIf="paymentNone" class="text-danger fs-6">New? Add your payment</span>
              <div *ngIf="paymentNone" class="text-end">
                <button (click)="payFormDisplay = true;" class="btn btn-primary" type="submit">Edit</button>
              </div>
            </h5>
          </div>
          <div *ngIf="!paymentNone" class="card-body">
            <!-- === ERRORS === -->
            <div class="alert-message mb-3" [hidden]="!getPaymentError">
              Fetching Payment Failed! Try again later!
            </div>
            <dl class="dlist-align">
              <dt>Name on card: </dt>
              <dd *ngIf="displayPayment.ownerName" class="text-muted">{{displayPayment.ownerName}}</dd>
              <dd *ngIf="!displayPayment.ownerName" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3">
              <dt>Card number: </dt>
              <dd *ngIf="displayPayment.cardNumber" class="text-muted">{{displayPayment.cardNumber}}</dd>
              <dd *ngIf="!displayPayment.cardNumber" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3">
              <dt>Expiration date: </dt>
              <dd *ngIf="displayPayment.expiryMonth" class="text-muted">{{displayPayment.expiryMonth + "/" + displayPayment.expiryYear}}</dd>
              <dd *ngIf="!displayPayment.expiryMonth" class="text-danger">Empty</dd>
            </dl>
            <dl class="dlist-align mt-3 mb-3">
              <dt>CVV: </dt>
              <dd *ngIf="displayPayment.secCode" class="text-muted">{{displayPayment.secCode}}</dd>
              <dd *ngIf="!displayPayment.secCode" class="text-danger">Empty</dd>
            </dl>
          </div>
          <div *ngIf="!paymentNone" class="card-footer text-end">
            <button (click)="payFormDisplay = true;" class="btn btn-primary" type="submit">Edit</button>
          </div>
        </div>
        <!-- === VIEW PAYMENT END// === -->

        <!-- === EDIT PAYMENT === -->
        <form *ngIf="payFormDisplay" [formGroup]="payForm" (ngSubmit)="paySubmit()" class="card mb-4">
          <div class="card-header ps-3">
            <h5 class="card-heading">Edit Payment</h5>
          </div>
          <div class="card-body">
            <!-- === ERRORS === -->
            <div class="alert-message mb-3" [hidden]="!changePaymentError">
              Change Payment Failed! Try again later!
            </div>
            <!-- === ERRORS END// === -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="mb-4">
                  <label class="form-label">Name on card</label>
                  <input type="text" class="form-control" formControlName="cardName" placeholder="John Doe" [ngClass]="{ 'is-invalid': paySubmitted && fPay.cardName.errors }">
                  <div *ngIf="paySubmitted && fPay.cardName.errors" class="invalid-feedback">
                    <div *ngIf="fPay.cardName.errors.required">Card name is required</div>
                    <div *ngIf="fPay.cardName.errors.minlength">Card name must be at least 2 characters</div>
                    <div *ngIf="fPay.cardName.errors.maxlength">Card name cannot be greater than 50 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="mb-4">
                  <label class="form-label">Card number</label>
                  <input type="text" class="form-control" formControlName="cardNumber" placeholder="4775121759083933" [ngClass]="{ 'is-invalid': paySubmitted && fPay.cardNumber.errors }">
                  <div *ngIf="paySubmitted && fPay.cardNumber.errors" class="invalid-feedback">
                    <div *ngIf="fPay.cardNumber.errors.required">Card number is required</div>
                    <div *ngIf="fPay.cardNumber.errors.minlength">Card number must be at least 14 characters</div>
                    <div *ngIf="fPay.cardNumber.errors.maxlength">Card number cannot be greater than 19 characters</div>
                    <div *ngIf="fPay.cardNumber.errors.pattern">Card number should be numeric</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-2">
                <div class="mb-4">
                  <label class="form-label">Expiration date</label>
                  <input type="text" class="form-control" formControlName="expiration" placeholder="06/33" [ngClass]="{ 'is-invalid': paySubmitted && fPay.expiration.errors }">
                  <div *ngIf="paySubmitted && fPay.expiration.errors" class="invalid-feedback">
                    <div *ngIf="fPay.expiration.errors.required">Expiration Date is required</div>
                    <div *ngIf="fPay.expiration.errors.pattern">Format: MM/YY</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-2">
                <div class="mb-4">
                  <label class="form-label">CVV</label>
                  <input type="text" class="form-control" formControlName="cvv" placeholder="123" [ngClass]="{ 'is-invalid': paySubmitted && fPay.cvv.errors }">
                  <div *ngIf="paySubmitted && fPay.cvv.errors" class="invalid-feedback">
                    <div *ngIf="fPay.cvv.errors.required">CVV is required</div>
                    <div *ngIf="fPay.cvv.errors.minlength">CVV must be 3 characters</div>
                    <div *ngIf="fPay.cvv.errors.maxlength">CVV must be 3 characters</div>
                    <div *ngIf="fPay.cvv.errors.pattern">CVV should be numeric</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer text-end">
            <button type="button" (click)="payFormDisplay = false;" class="btn btn-dark">Cancel</button>
            <button class="btn btn-success ms-2" type="submit">Save</button>
          </div>
        </form>
        <!-- === EDIT PAYMENT END// === -->
        <!-- ========================= EDIT PROFILE FORM END// ========================= -->

      </section>
      <!-- ========================= MAIN SECTION END// ========================= -->

    </div>
  </div>
</main>