/* == CONTENT == */
.title:hover {
    text-decoration: underline solid !important;
    color: #0000EE !important;
}
.vertical-center {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}
.dark-borders {
    border-top: #a6a6a6 solid;
    border-top-width: 0.8px;
}
