    <!-- ========================= NAVBAR PAGETOP ========================= -->
    <nav class="navbar border-top navbar-expand-lg">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar_main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link ps-0" href="#">Latest Collections</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ========================= NAVBAR PAGETOP END// ========================= -->    
    <!-- ========================= BREADCRUMB PAGETOP ========================= -->
    <section class="section-pagetop">
        <div class="container">
            <h2 class="title-page">{{activePage}}</h2>
            <nav>
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a routerLink="">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{activePage}}</li>
                </ol>  
            </nav>
        </div>
    </section>
    <!-- ========================= BREADCRUMB END// ========================= -->
