/* ====HEADER PAGETOP==== */
.section-pagetop {
    padding: 1.5rem 0;
    background-color: #f8f9fa;
}
.title-page {
 color: #212529;
 font-weight: bold;
}
.navbar {
    background-color:lightgrey;
}