<!-- ========================= BREADCRUMB PAGETOP ========================= -->
<section class="section-pagetop mb-4">
    <div class="container">
        <h2 class="title-page">{{activePage}}</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a routerLink={{firstPage_URL}}>{{firstPage}}</a></li>
                <li *ngIf="activePage === secondPage" class="breadcrumb-item active">{{activePage}}</li>
                <li *ngIf="activePage !== secondPage" class="breadcrumb-item"><a routerLink={{secondPage_URL}}>{{secondPage}}</a></li>

                <li *ngIf="activePage === thirdPage" class="breadcrumb-item active">{{activePage}}</li>
                <li *ngIf="thirdPage && activePage !== thirdPage" class="breadcrumb-item"><a routerLink={{thirdPage_URL}}>{{thirdPage}}</a></li>

                <li *ngIf="activePage === fourthPage" class="breadcrumb-item active">{{activePage}}</li>
                <li *ngIf="fourthPage && activePage !== fourthPage" class="breadcrumb-item"><a routerLink="">{{fourthPage}}</a></li>
            </ol>  
        </nav>
    </div>
</section>
    <!-- ========================= BREADCRUMB END// ========================= -->
