/* ==== PRIMARY ==== */
main {
    padding-top: 3.4rem;
}
.form-control, .form-select {
    background-color: #f9f9f9;
}
.alert-message {
    color: #ff0000;
    font-size: 95%;
}

/* ==== CART BTN COLORS ==== */
.cart-success {
    background: darkgreen !important;
}
.cart-fail {
    background: darkred !important;
}

/* ==== LOGIN & REGISTER ==== */
.logReg-height {
    min-height: 100vh;
}
.logReg-btn {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
.logReg-heading {
    font-weight: 300;
    margin-top: revert;
    margin-bottom: 0.2rem;
}
/* ==== RATING For NGSTARS ==== */
.main-rating {
    color: #ff4800;
    font-size: 1.3rem;
}

/* ==== SHOPPING CART & CHECKOUT ==== */
.card-title {
    font-weight: 600;
}
.content-body {
    flex: 1 1 auto;
    padding: 1.88rem;
}
.price-bold {
    font-weight: 600;
    color: initial;
}
.img-sm {
    width: 72px;
    height: 72px;
}
.itemside {
    position: relative;
    display: flex;
    width: 100%;
}
.itemside .aside {
    position: relative;
    flex-shrink: 0;
}
.itemside .info {
    padding-left: .75rem;
    flex-grow: 1;
}
.itemside a.title {
    color: inherit;
    text-decoration: none;
}
.itemside .title {
    display: block;
    margin-bottom: 0rem;
}
.dlist-align {
    display: flex;
    margin-bottom: 5px;
}
.dlist-align dt {
    width: 150px;
    word-wrap: break-word;
    font-weight: normal;
}
.dlist-align dd {
    flex-grow: 1;
    margin-bottom: 0;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
