<main>
  <app-submenu [activePage]="'Transactions'" [firstPage]="'Home'" [firstPage_URL]="'/'"[secondPage]="'Transactions'"></app-submenu>
  <div class='text-muted mb-5" [hidden]='orderItems.length > 0">
    No orders.
  </div>

  <div class="alert-message-mb5" [hidden]="!getOrderItemsError">
    No previous orders.
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Order ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Order Date Column -->
    <ng-container matColumnDef="purchase_date">
      <th mat-header-cell *matHeaderCellDef> Purchase Date </th>
      <td mat-cell *matCellDef="let element"> {{element.purchase_date}} </td>
    </ng-container>
  
    <!-- Product Column -->
    <ng-container matColumnDef="user_id">
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  

</main>
